*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: url(../images/bg.png);
    margin:15px;
}

#container header .opcoes .pgAtl{
    background-color:#fdf6be;
    border-radius: 2px;
}

#topo{
    background: #dbcd87;
    height: 15.5em;
    min-height:250px;   
    position: relative;
    margin-bottom: 10px;
    min-width: 900px;
}

#area-logo{
    width: 100%;
    background: url(../images/topo-imagem-principal2.png) no-repeat;
    height: 250px;
    top: 0;
    left: 0;
}

#area-logo .img1 a{
    text-decoration: none;
    color: #aa963c;
}

#area-logo .img1{
    text-indent: -5000px;
    background: url(../images/logo.png) no-repeat left;
    height: 66px;
    position: relative;
    top: 20px;
    left: 10px;
}

#area-menu{
    width: 450px;
    background: url(../images/topo-imagem-lateral.png) no-repeat;
    height: 250px;
    position: absolute;
    right: 0;
    top: 0;
    padding-left: 110px;
}

#area-menu .ar_sup{
    width: 95%;
    padding: 4px;
}

#area-menu .ar_sup hr{
    width:100%;
    border-color:#dbcd87;
    margin: 2px 0;
}

#area-menu .ar_sup button{
    border: none;
    background-color: #aa963c;
    color: #ede9cc;
    padding: 5px;
    position: relative;
    margin-left: 22%;
    letter-spacing: 0.5px;
}

#area-menu .ar_sup span{
    color: #aa963c;
    font-size: smaller;
}

#container #topo #area-menu .opcoes{
    float: left;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

#container #topo #area-menu .opcoes a{
    padding:6px;
    line-height: 30px;
    color: #aa963c;
    
}

#container #topo #area-menu .opcoes a:hover{
    background-color: #fdf6be;
    border-radius: 2px;
}

#area-menu .img2{
    height: 164px;
    width: 226px;
    background: url(../images/depoimento.png) no-repeat right;
    text-indent: -5000px;
    float:right;
    margin-right: 15px;
}

#container .conteudo .principal{
    width: 50%;
    box-sizing: border-box;
    background: #f8ecb1;
    float: left;
    padding: 30px;

}


#container .caixacont .titulo{
    margin-bottom: 20px;
    color: #aa963c;
}

#container .conteudo .secundario{
    box-sizing: border-box;
    width: 50%;
    background: #c7c09c;
    float: right;
    padding: 30px;
}

#container .conteudo .secundario .noticia{
    float: left;
   
}

#container .conteudo .secundario .noticia .image{
    width: 25%;
    float: left;
}

#container .conteudo .secundario .noticia img{
    width: 100%;
}

#container .conteudo .secundario .noticia .materia{
    width: 70%;
    float: right;
}

#container .conteudo .secundario li {
    padding: 5px;
}

#container .conteudo .secundario .caixacont .titulo{
    background: url(../images/ornamento.png) no-repeat right center;
}

#container .conteudo .secundario .caixacont ul li a{
    color: black;
}

#container .conteudo .secundario .caixacont ul li:hover{
    background-color: #fdf6be;
    border-radius: 2px;
}

#container .conteudo .footer{
    clear: both;
}

#PgRs .conteudo,
#PgCt .conteudo,
#PgGt .conteudo,
#PgHt .conteudo{ /* Código para organizar as demais páginas */
    background: #dbcd87;
    margin: 0px auto;
    padding: 30px;
    box-sizing: border-box;
}

.conteudo .texto,
#PgRs .conteudo form{
    padding: 10px;
}

/*Formatação da página de reserva*/
#PgRs .conteudo form{
    letter-spacing: 2px;
    background: #f8ecb1;
    border-radius: 4px;
    width: 50%;
    margin: 0 auto;
    box-shadow: 2px 2px black;
}

#PgRs .conteudo form .campo{
    margin: 15px;
}

#PgRs .conteudo form input{
    margin-left:15px;
    font-size: medium;
}

#PgRs .conteudo form .campo .envio{
    border: 2px solid black;
    border-radius: 2px;
    padding: 5px;
    letter-spacing: 2px;
}

#PgRs .conteudo form .campo .envio:hover{
    background: #aa963c;
    color: white;
    border: 2px solid white;
    border-radius: 2px;
    transition: all 0.7s;
}

#PgRs .conteudo form input{
    display: flex;
    flex-direction: column;
    border: none;
    background-color: transparent;
    outline: none;
    border-bottom: 2px solid black;
}

#PgRs .conteudo form .qntdPessoas{
    margin: 10px 0px;
    display: flex;
    padding: 5px;
}

#PgRs .conteudo form .qntdAdul{
    margin: 0 10px;
}

/*Formatação das imagens das páginas*/
.conteudo .image,
#PgCt .conteudo .img,
#PgGt .conteudo .img,
#PgHt .conteudo .img{
    width: 70%;
    margin:0 auto;
    text-align: center;
}
.conteudo img,
#PgCt .conteudo img,
#PgGt .conteudo img,
#PgHt .conteudo img{
    width: 80%;
    border-radius: 4px;
    box-shadow: 2px 2px black;
}

#PgCt .conteudo img,
#PgGt .conteudo img,
#PgHt .conteudo img{
    margin:20px auto;
}

.conteudo img{
    margin:5px auto;
}